---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

import 'swiper/css/bundle';

const { post: blogPosts } = Astro.props;
type BlogPost = CollectionEntry<'blog'>;
---

<div class="swiper">
  <div class="swiper-wrapper">
    {
      blogPosts.map((post: BlogPost) => (
        <a href={`blog/${post.slug}`}
          class="swiper-slide text-decoration-none text-white"
          style={`background-image: url(${post.data.image}); background-size: cover; background-position: center;`}
        >
          <div class="slide-overlay">
            <div class="title fs-2">
             <p>{post.data.title}</p>
            </div>
            <div class="meta">
              <p>{post.data.author}</p>
              <span> &bull; </span>
              <time datetime={post.data.publishedAt}>
                {post.data.publishedAt}
              </time>
            </div>
          </div>
        </a>
      ))
    }
  </div>
  <div class="swiper-pagination"></div>
</div>

<script>
  import Swiper from 'swiper/bundle';
  new Swiper('.swiper', {
    direction: 'horizontal',
    loop: true,
    autoplay: {
      delay: 5000,
    },

    pagination: {
      el: '.swiper-pagination',
    },
  });
</script>

<style>
  .swiper {
    width: 100%;
    height: 400px;
    margin-top: 56px;
  }

  .swiper-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    padding: 20px;
    box-sizing: border-box;
  }

  .swiper-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(10px);
    z-index: -1;
  }

  .slide-overlay {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: auto;
  }

  .meta {
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-size: 1em; */
  }

  .meta p,
  .meta time {
    margin: 0 10px;
  }
</style>